.login {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 15px;
}

button {
  font-size: 15px;
  background: darkblue;
  color: white;
  padding: 10px;
}
